html,body {
    width: 100%;
    height: 100%;
    background-color: #ccc;
}

.note-color {
    background-color: #fffacd;
}

.note {
    margin: 0 10px;
    min-height: 150px;
    min-width: 200px;
    max-width: 200px;
    position: relative;
}

.x-icon {
    width: 16px;
    height: 16px;
    background-size: contain;
    background-image: url("https://www.materialui.co/materialIcons/navigation/close_black_72x72.png");

    position: absolute;
    right: 10px;
    top: 10px;
}

.header {
    width: 1000px;
    height: 200px;
}
.header img {
    width: 100%;
    height: 100%;
}
